*{
    font-family: 'Montserrat', sans-serif;
}

/*Estilizaçaão de Index*/
header{
    background-color:#F2F2F2;
    border-bottom: 2px solid #1E2026 ;
} 
nav{
    background-color:#F2F2F2;
}
body {
background-color: #F2F2F2;
}

.aheader{
    color: #1E2026;
    text-decoration: none;
    /* border: solid blue; */
    float: left;
    padding: 0 0.5em;
    font-weight: bold;
}

.aheader:hover{
    color: #3876F2;
}

select {
    border: none;
    color: #1E2026;
    background-color: #F2F2F2;
    font-size: 16px;
    display: inline;
    font-weight: bold;
  
}

select:hover{
    color: #3876F2;
}

option{
    color: #1E2026;
    background-color: #F2F2F2;
}

option:hover{
    background-color: #3876F2;
}
.cabecalho{
    display: block;
    /*border: solid red;*/
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    color: #3876F2;
    
}
button{
    background-color: #3876F2;
    color:#F2F2F2;
    font-weight: bold;
    border: none;
    width: 6em;
    height: 2em;
    display: inline;
    float:right;
}

.acabecalho{
    color: #F2F2F2;
    text-decoration: none;
    font-weight:bold;
    }

    h2{
        text-align: center;
    }

    .cardindex{
        border: #3876F2 solid;
        
    }

/*Estilizaçaão de Login*/

label{
    
    color:#1E2026;
}

input {
    
    background-color:#F2F2F2;
}
.form{
    color:#3876F2;
}

form{
    background-color: #F2F2F2;
    width: 50%;
    margin: 5em auto;
}

#padmin{
    color:#1E2026;
}