*{
    font-family: 'Montserrat', sans-serif;
}

/*Estilizaçaão de Index*/
header{
    background-color:#F2F2F2;
    border-bottom: 2px solid #1E2026 ;
} 
nav{
    background-color:#F2F2F2;
}
body {
background-color: #F2F2F2;
height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.pHeader{
    /* border: red solid 2px;  */
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

main{
    flex: 1;
}

.aheader{
    color: #1E2026;
    text-decoration: none;
    /* border: solid blue; */
    padding: 0 0.3em;
    font-weight: bold;
}

.aheader:hover{
    color: #3876F2;
}

    #cadastrar{
        padding-left: 15px;
    }
select {
    /* border: solid red 2px; */
    border: none;
    color: #1E2026;
    background-color: #F2F2F2; /* Pode ser a cor de fundo do select */
    font-size: 15.5px;
    display: inline;
    font-weight: bold;
    appearance: none; /* Remove os estilos nativos do navegador */
    -webkit-appearance: none; /* Para navegadores WebKit, como Chrome e Opera */
    -moz-appearance: none; /* Para Firefox */
    padding-right: 15px; /* Dá espaço para a seta personalizada */
    background-size: 16px 16px; /* Ajusta o tamanho da seta personalizada */
    padding-left: 5px; /* Adiciona um pouco de espaço à esquerda para o texto */
}


select:focus {
    outline: none;
    border: none;
}


select:hover{
    color: #3876F2;
}

option{
    color: #1E2026;
    background-color: #F2F2F2;
    border:none;
    appearance: none;
}

option:hover{
    background-color: #3876F2;
}
.cabecalho{
    display: block;
    /*border: solid red;*/
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    color: #3876F2;
    
}
button{
    margin-top: 10px;
    background-color: #3876F2;
    color:#F2F2F2;
    font-weight: bold;
    border: none;
    width: 6em;
    height: 2em;
    display: inline;
    float:right;
    border-radius: 10px;
    
}

.acabecalho{
    color: #F2F2F2;
    text-decoration: none;
    font-weight:bold;
    }

    h2{
        text-align: center;
    }

    .cardindex{
        border: #3876F2 solid;
        
    }

/*Estilizaçaão de Login e forms em geral*/

label{
    
    color:#1E2026;
}

input[type="text"] {
    
    background-color:#F2F2F2;
    border-radius: 9px;
    border: #1E2026 solid 1px;
}

input[type="email"] {
    
    background-color:#F2F2F2;
    border-radius: 9px;
    border: #1E2026 solid 1px;
}

input[type="password"] {
    
    background-color:#F2F2F2;
    border-radius: 9px;
    border: #1E2026 solid 1px;
}

input[type="file"] {
    
    background-color:#F2F2F2;
    border-radius: 3px;
}
.form{
    color:#3876F2;
    margin-bottom: 25px;
}

form{
    background-color: #F2F2F2;
    width: 50%;
    margin: 5em auto;
    /* border: solid red; */
}

fieldset{
    border-radius: 20px;
}

#padmin{
    color:#1E2026;
}

/*Estilizaçaão de Cadastro Ambiente*/

.ambiente{
    
    border:none;
    color: #1E2026;
    background-color: #F2F2F2;
    font-size: 15px;
    display: inline;
    font-weight: bold;
}

/*Estilizaçaão de Home(Voltar) nos formulários*/

.voltar{
    text-decoration: none;
    font-weight: bold;
    color:#1E2026;
}

.voltar:hover{
    color: #3876F2;
}

/*Estilizaçaão do Calendário está no head Trazer pra cá futuramente*/

#formMes {
    display: flex;
    justify-content: center;
    /* Alinha horizontalmente no centro */
    align-items: baseline;
    /* Alinha verticalmente no topo */
    margin: 0 auto;


}

table {
    justify-content: center;
    /* Alinha horizontalmente no centro */
    border: solid #000000;
    text-align: center;
    margin: 0 auto;
    border-collapse: separate;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;


}

th {
    color: #F2F2F2;
    background-color: #3876F2;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;


}


#calendario {
    color: black;
    text-decoration: none;
}

#calendario:hover {
    color: #3876F2;
}

tr:nth-child(even) {
    background-color: #C7C7C7;
}

#data {
    text-align: center;
}

input[type="month"] {
    background-color: #3876F2;
    color: #F2F2F2;
    border: 2px solid #333;
    padding: 8px;
    border-radius: 5px;
}



/*Estilizaçaão dos Cards em Index*/

.cardIndex {
    border-radius: 20px;
    display: inline-block;
    text-align: center; /* Centraliza conteúdo interno */
    padding: 15px 15px 0px 15px; 
    background-color: #1E2026;
    margin: 0.3em;
}

.item{
    display: flex;
    justify-content: center;
    
}

img {
    
    border-radius: 20px;
    width: 120px;
    height: 120px;
    
}

.pCard{
    font-weight: bold;
    color: #f2f2f2;
}

.aCard{
    text-decoration: none;
    color:#f2f2f2
}

.aCard:hover{
    color: #3876F2;
}

h1{
    color:#3876F2; 

}

/*Estilizaçaão de Reserva Horário*/

.reserva{
    height: 200px;
    width: 240px;
    margin-top: 50px;
}


.buttonReserva{
    
    background-color: #3876F2;
    color:#F2F2F2;
    font-weight: bold;
    border: none;
    width: 18.3em;
    height: 2em;
    display: block;
    float: none;
    margin: 0 auto;
}

.divReserva{
    margin-top: 1em;
    justify-content: center;
}


/*Estilizaçaão de Minhas Reservas*/


.tableMinhasReservas {

    margin-top: 50px;
    margin-bottom: 50px;

}

/*Estilização de Footer*/

footer{
    background-color:#F2F2F2;
    border-top: 2px solid #1E2026 ;
    padding: 5px;
    margin-top: 10px;
    
}

.pRodape {
    display: block;
     text-align: center;
     font-weight: bold;
}

/*Estilização de Icones*/

.icon{
    width: 20px;
    height: 24px;
    
}

.divIcon{
    margin: 0 auto;
  /* border: solid red; */
  background-image: url('img/icones/lixo.svg'); /* Imagem inicial */
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 24px;
  transition: background-image 0.3s ease; /* Transição suave */

}

.divIcon:hover{
    background-image: url('img/icones/lixoHover.svg'); /* Imagem quando o mouse passa sobre */ 
}

/*Estilização de Sobre*/

.sobre{
    /* border: solid red; */
    display: flex;
    justify-content: center;
    color: #f2f2f2;
}

.imgSobre{
    display: flex;
    /* border: solid red; */
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.divSobre {
    /* border: #3876F2 solid; */
    border-radius: 20px;
    display: inline-block;
    text-align: center; /* Centraliza conteúdo interno */
    padding: 15px 15px 0px 15px; 
    background-color: #1E2026;
    margin: 0.3em;
}

.divMae{
    /* border: #3876F2 solid; */
    text-align: center;
}

b{
    padding-right: 4px;
    
}

/*Estilização de Caixas Flutuantes*/

.msgGreen{
    display: inline-block;
    margin: 0 auto;
    background-color: green;
    padding: 2px 10px;
    color: #F2F2F2;
    font-weight: bold;
}

.msgRed{
    display: inline-block;
    margin: 0 auto;
    padding: 2px 10px;
    background-color: red;
    color: #F2F2F2;
    font-weight: bold;
}